@charset "UTF-8";

a{
    color: #222;
}

.hide{
	display:none;
}
#helpdeskSection{
	width:85%;	
	margin:160px auto 0 auto;
}
#helpdeskSection .hLine{
	width: 100%;
	border-top: 2px solid #222;
	margin: 15px 0 15px 0;
	
}
#helpdeskSection a{
	text-decoration: none;
}
#helpdeskSection a:visited{
	color:inherit;
}
#helpdeskSection h1{
	font-size: 46px;
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    font-weight: bold;
}
#helpdeskSection h2{
	font-size: 16px;
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    width: fit-content;
}
#helpdeskSection h3{
	font-size: 18px;
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    font-weight: bold;
}
#helpdeskSection h4{
	font-size: 15px;
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
}
#helpdeskSection h5{
	font-size: 14px;
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    font-weight: 400;
    color: #aaa;
}
#helpdeskSection h6{
	font-size: 14px;
	font-weight: 500;
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
}

#helpdeskSection .smallDesc{
	font-size: 13px;
	font-weight: 400;
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
}
#helpdeskSection .boldDesc{
	font-size: 14px;
	font-weight: bold;
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
}

#helpdeskSection .descLine .desc{
	display: flex;
	margin: 20px 0 20px 0;
}
.descLine .descLineNo{
	width:30px;
}
.descLine .descContent{
	
}




#helpdeskSection .deskTitle{
	margin: 55px 0 70px 0;
}
#helpdeskSection .deskTitle h4{
	margin-top:15px;
}

.helpdeskViewDiv{
	margin-top : 80px;
	display:flex;
}

#helpdeskAside{
	width:20%;
}
#helpdeskAside ul{
	margin-top: 70px;
}
#helpdeskAside li{
	margin-bottom: 15px;
}

#helpdeskAside .hoverUnderline{
	padding-top:5px;
    width: 0px;
    border-bottom: 1.2px solid black;
    transition: .5s;
}
#helpdeskAside li:hover .hoverUnderline{
	width:100%;
}

.helpdeskContentDiv{
	border-top: 2px solid #222;
	width:85%;
}


.qnaTableHead a{
	padding:10px 15px 10px 0;
	font-size: 13px;
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    
}

.qnaTableBody li{
	display: flex;
	flex-wrap: wrap;
	margin-top:20px;
	padding: 20px 0 20px 0;
	border-top:1px solid #dcdcdc;
}
.qnaTableBody li h5{
	width:10%;
}
.qnaTableBody li h6{
	width:90%;
}
.qnaTableBody .hide{
	width:100%;
    padding: 25px 10%;
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    font-size: 13px;
    font-weight: 400;        
}
/* .qnaQuestion{
	width:100%;
}

.qnaAnswer{
	line-height: 0%;
	height:0;
	overflow:hidden;
	opacity: 0;
	font-size:14px;
	font-weight: 400;
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
}


.qnaOpen{
	animation: qnaOpen .3s forwards;
}
.qnaClose{
	animation: qnaClose .3s forwards;
}
@keyframes qnaOpen{
	0%{
		line-height:100%;
		height:0%;
		opacity:0;
	}
	50%{
		opacity:1;
	}
	100%{
		line-height:100%;
		height:100%;
		opacity:1;
	}
}
@keyframes qnaClose{
	0%{
		line-height:100%;
		height:100%;
		opacity:1;
	}
	50%{
		opacity:0;
	}
	100%{
		line-height:0%;
		height:0%;
	}
} */

.inquiryTitleDiv{
	display:flex;
}

.inquiryWriteBtn{
	
	margin-left: auto;
	align-self: center;
	height:40px;
	
	border: 2px solid #222;
    display: flex;
    transition: .5s;
    cursor: pointer;
    padding: 0 15px;
}
.inquiryWriteBtn p{
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    font-size: 13px;
    font-weight: 600;
    align-self: center;
}
.inquiryWriteBtn:hover{
	color:white;
	background-color: black;
}

#inquiryWriteForm{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
}
.writeFormLabel{
    color: #787878;
    margin-bottom: 10px;
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    font-size: 13px;
    font-weight: 400;
}
.writeFormRowHalf{
	width:45%;
	padding: 12px 15px;
}

.writeFormRow{
	width:100%;
	padding: 12px 15px;
}
.InquirytextInput{
    padding: 12px 15px;
    width:100%;
    outline:none;
    border: 1.1px solid #c5c5c5;
    transition:.5s;
    box-sizing: border-box;
}
.InquirytextInput:focus{
	box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.3);
}
.InquirytextArea{
	padding: 12px 15px;
    width:100%;
    height: 30vh;
    outline:none;
    box-sizing: border-box;
    border: 1px solid #c5c5c5;
    transition:.5s;
}
.InquirytextArea:focus{
	box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.3);
}
#inquirySubmit{
	margin-left:auto;
	margin-left: auto;
	align-self: center;
	height:40px;
	
	background-color:white;
	
	border: 2px solid #222;
    display: flex;
    transition: .5s;
    cursor: pointer;
    padding: 0 15px;
    
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    font-size: 13px;
    font-weight: 600;
    align-self: center;
}

#inquirySubmit:hover{
	color:white;
	background-color: black;
}

.editBtn{
	margin-left:auto;
	align-self: center;
	height:40px;
	
	background-color:white;
	
	border: 2px solid #222;
    display: flex;
    flex-wrap:wrap;
    transition: .5s;
    cursor: pointer;
    padding: 0 15px;
    
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    font-size: 13px;
    font-weight: 600;
    
    width:fit-content;
    justify-content: center;
    align-content: center;
}
.editBtn:hover{
	color:white;
	background-color: black;
}



.helpTable>div{
	width:100%;
	display: flex;
}

.helpTable .boardNo{
	width:5%;
}
.helpTable .title{
	width:80%;
}
.helpTable .regdate{
	width:5%;
}


.helpTableHead .boardNo{
	padding:10px 15px 10px 0;
	font-size: 13px;
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
}
.helpTableHead .title{
	padding:10px 15px 10px 0;
	font-size: 13px;
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
}

.helpTableHead .regdate{
	padding:10px 15px 10px 0;
	font-size: 13px;
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    margin-left:auto;
}

.helpTableBody{
	border-top:1px solid #dcdcdc;
	padding: 15px 0 15px 0;
}
.helpTableBody .boardNo{
	color:#222;
	font-weight: 600;
	padding:10px 15px 10px 0;
	font-size: 13px;
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
}
.helpTableBody .title{
	color:#222;
	font-weight: 600;
	padding:10px 15px 10px 0;
	font-size: 13px;
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
}

.helpTableBody .regdate{
	color:#222;
	font-weight: bold;
	padding:10px 15px 10px 0;
	font-size: 13px;
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    margin-left:auto;
}

.returnsDiv ui {
	margin-top: 30px;
}
.returnsDiv li {
	position: relative;
	margin-top: 12px;
	padding: 0 0 10px 12px;
}
.returnsDiv li:before {
    content: '\00b7';
    font-size: 20px;
    position: absolute;
    top:0;
    left:0;
}

.returnsDiv .ctul {
	margin-top: 30px;
}
.returnsDiv .ctli {
	position: relative;
	margin-top: 12px;
	padding: 0 0 10px 12px;
}
.returnsDiv .ctli:before {
    content: '-';
    font-size: 12px;
    top: 0;
    left:0;
}



@media (max-width:1300px){
	#helpdeskSection h1{
		font-size: 30px;
	    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	    font-weight: bold;
	}
	#helpdeskSection h2{
		font-size: 14px;
	    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	    width: fit-content;
	}
	
	
	#helpdeskSection{
		width:93%;	
		margin:90px auto 0 auto;
	}
	.helpdeskViewDiv{
		display:block;
		margin-top:30px;
	}
	
	.helpdeskContentDiv {
	    border-top: 2px solid #222;
	    width: 100%;
	}
	#helpdeskAside{
		width:100%;
	}
	#helpdeskAside .hoverUnderline{
		padding-top:5px;
		margin-bottom:10px;
	}
	#helpdeskAside ul{
		margin-top: 40px;
		display: flex;
		justify-content: space-around;
	}
	
	.helpTableHead,.helpTableHead .boardNo,.helpTableHead .title ,.regdate{
		display:none;
	}
	
	.title{
		margin:0 auto;
	}
	
}

